/* line 4, ../compass/sass/style.scss */
.header-wrapper {
  margin: 0 5% 5% 5%;
  background-color: white;
}
/* line 7, ../compass/sass/style.scss */
.header-wrapper .div-header {
  overflow: hidden;
}
/* line 11, ../compass/sass/style.scss */
.header-wrapper #logo-wrapper-small {
  padding: 2%;
  width: 11%;
  float: left;
}
/* line 15, ../compass/sass/style.scss */
.header-wrapper #logo-wrapper-small #logo-small {
  font-size: 26px;
  font-family: Arial;
  background: #e0e0e0;
  padding: 0% 10%;
}

/* line 25, ../compass/sass/style.scss */
#img-small {
  width: 72%;
  margin-top: 55%;
}

/* line 30, ../compass/sass/style.scss */
.navbar-inverse {
  width: 36%;
  margin-top: 6%;
  float: right;
  padding: 0 3%;
}
/* line 35, ../compass/sass/style.scss */
.navbar-inverse .navbar-inverse:hover {
  color: white;
}

/* line 41, ../compass/sass/style.scss */
.div-header-body {
  margin: 15% 34%;
}
/* line 44, ../compass/sass/style.scss */
.div-header-body #logo-wrapper-big {
  width: 100%;
  padding: 5%;
}
/* line 47, ../compass/sass/style.scss */
.div-header-body #logo-wrapper-big #img-wrapper img {
  width: 90%;
}

/* line 54, ../compass/sass/style.scss */
.brand-side-wrapper .brand-side-logo {
  width: 3%;
  position: absolute;
  top: 36%;
  right: 1%;
  margin-top: 11%;
}
/* line 60, ../compass/sass/style.scss */
.brand-side-wrapper .brand-side-logo .img {
  width: 50px;
  margin: 9% 2%;
}

/* line 67, ../compass/sass/style.scss */
.body-wrapper {
  background-color: #e0e0e0;
  padding: 7%;
  overflow: hidden;
}
/* line 71, ../compass/sass/style.scss */
.body-wrapper .body-left-wrapper {
  text-align: center;
}
/* line 73, ../compass/sass/style.scss */
.body-wrapper .body-left-wrapper #left-title {
  font-size: 21px;
  margin: 10% 0% 4% 0%;
}
/* line 77, ../compass/sass/style.scss */
.body-wrapper .body-left-wrapper #body-left-button {
  margin-top: 12%;
}
/* line 81, ../compass/sass/style.scss */
.body-wrapper .body-center-wrapper {
  text-align: center;
}
/* line 83, ../compass/sass/style.scss */
.body-wrapper .body-center-wrapper #center-title {
  font-size: 21px;
  margin: 10% 0% 4% 0%;
}
/* line 87, ../compass/sass/style.scss */
.body-wrapper .body-center-wrapper #body-center-button {
  margin-top: 12%;
}
/* line 91, ../compass/sass/style.scss */
.body-wrapper .body-right-wrapper {
  text-align: center;
}
/* line 93, ../compass/sass/style.scss */
.body-wrapper .body-right-wrapper #right-title {
  font-size: 21px;
  margin: 10% 0% 4% 0%;
}
/* line 97, ../compass/sass/style.scss */
.body-wrapper .body-right-wrapper #body-right-button {
  margin-top: 12%;
}

/* line 104, ../compass/sass/style.scss */
.third-wrapper {
  float: left;
}

/* line 108, ../compass/sass/style.scss */
.third-body-wrapper {
  padding: 6%;
}

/* line 112, ../compass/sass/style.scss */
.fourth-wrapper {
  float: left;
  background-color: #e0e0e0;
  width: 100%;
  padding: 4%;
}
/* line 117, ../compass/sass/style.scss */
.fourth-wrapper h4 {
  float: left;
}
/* line 120, ../compass/sass/style.scss */
.fourth-wrapper p {
  float: right;
}
/* line 123, ../compass/sass/style.scss */
.fourth-wrapper #email-wrapper {
  clear: both;
}
/* line 126, ../compass/sass/style.scss */
.fourth-wrapper #phone-wrapper {
  clear: both;
}

/* line 131, ../compass/sass/style.scss */
.fifth-wrapper {
  float: left;
  width: 100%;
}
/* line 134, ../compass/sass/style.scss */
.fifth-wrapper .fifth-wrapper-box {
  margin: auto;
  width: 33%;
}
/* line 137, ../compass/sass/style.scss */
.fifth-wrapper .fifth-wrapper-box #box1, .fifth-wrapper .fifth-wrapper-box #box2, .fifth-wrapper .fifth-wrapper-box #box3 {
  width: 100%;
  background-color: #e0e0e0;
}
/* line 141, ../compass/sass/style.scss */
.fifth-wrapper .fifth-wrapper-box #box1 {
  margin-bottom: 10%;
}
/* line 144, ../compass/sass/style.scss */
.fifth-wrapper .fifth-wrapper-box #box2 {
  margin-bottom: 10%;
}
/* line 147, ../compass/sass/style.scss */
.fifth-wrapper .fifth-wrapper-box #box3 {
  height: 187px;
  margin-bottom: 10%;
}
/* line 151, ../compass/sass/style.scss */
.fifth-wrapper .fifth-wrapper-box #fifth-button {
  float: right;
}
/* line 153, ../compass/sass/style.scss */
.fifth-wrapper .fifth-wrapper-box #fifth-button .button-body {
  padding: 3% 25%;
}
